body{
	background: #fafafa;
	
}

.dino{
	width: 60px;
	height: 60px;
	background-image: url('./IMG/dino.png');
	position: absolute;
	bottom: 0;
}

.cactus {
	position: absolute;
	width: 60px;
	height: 60px;
	bottom: 0;
	background-image: url('./IMG/cactus.png');
}

.gameover{
	text-align: center;
	color: #666666
}